<div class="content-container" ng-controller="Viewuser.component">
    <ul class="breadcrumb">
        <li><a href="users">Users</a></li>
        <li class="active">{{idUsuario}}</li>
    </ul>
    <div class="card well">
        <div class="pull-right">
            <div class="form-group" *ngIf="perfil">
                <button type="button" class="btn btn-primary" (click)="ireditsysuser(idUsuario)" has-permission='UPDATE_USER'><i class="fa fa-edit"></i>
                    Editar código
                </button>
                <button type="button" (click)="deletesysusr()" class="btn btn-danger" has-permission='DELETE_USER'>
                    <i class="fa fa-trash-o"></i> Eliminar
                   
                </button>
                <button type="button" class="btn btn-primary" (click)="changepsw()" has-permission='UPDATE_USER'><i class="fa fa-cog"></i>
                    Cambiar contraseña
                </button>
            </div>
            <div class="form-group" *ngIf="!perfil">
                <button disabled type="button" class="btn btn-primary" (click)="ireditsysuser(idUsuario)" has-permission='UPDATE_USER'><i class="fa fa-edit "></i>
                    Editar código
                </button>
                <button disabled type="button" (click)="deletesysusr()" class="btn btn-danger" has-permission='DELETE_USER'>
                    <i class="fa fa-trash-o"></i> Eliminar
                   
                </button>
                <button disabled type="button" class="btn btn-primary" (click)="changepsw()" has-permission='UPDATE_USER'><i class="fa fa-cog "></i>
                    Cambiar contraseña
                </button>
            </div>

        </div>
        <h3 class="bolder">Usuario:&nbsp;&nbsp;&nbsp;{{idUsuario}}</h3>
        <div class="row">
            <div class="col-md-10">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Empresa: </td>
                        <td>{{idEmpresa}}</td>
                    </tr>
                    <tr>
                        <td>Recinto: </td>
                        <td>{{idRecinto}}</td>
                    </tr>
                    <tr>
                        <td>Usuario: </td>
                        <td>{{idUsuario}}</td>
                    </tr>
                    <tr>
                        <td>Perfil: </td>
                        <td>{{idPerfil}}</td>
                    </tr>
                    <tr>
                        <td>Intentos: </td>
                        <td>{{intentos}}</td>
                    </tr>
                    <tr>
                        <td>Estatus: </td>
                        <td>{{estatus}}</td>
                    </tr>
                    <tr>
                        <td>Fec. Est.: </td>
                        <td>{{fecEst}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>