<div class="content-container" ng-controller="Viewuser.component">
    <ul class="breadcrumb">
        <li><a [routerLink]="['usuarios']">Usuarios</a></li>
        <li class="active">{{firstname}}&nbsp;{{lastname}}</li>
    </ul>
    <div class="card well">
        <div class="pull-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="iredituser(username)" has-permission='UPDATE_USER'><i class="fa fa-edit "></i>
                    Editar código
                </button>
                <button type="button" (click)="deleteusr()" class="btn btn-danger" has-permission='DELETE_USER'>
                    <i class="fa fa-trash-o"></i> Eliminar
                   
                </button>
                <button type="button" class="btn btn-primary" (click)="changepsw()" has-permission='UPDATE_USER'><i class="fa fa-cog "></i>
                    Cambiar contraseña
                </button>
                <button *ngIf="isDisabled" type="button" class="btn btn-primary" (click)="activarusr()"><i class="fa fa-cog "></i>
                    Activar Usr
                </button>
            </div>
        </div>
        <h3 class="bolder">{{firstname}}&nbsp;{{lastname}}</h3>
        <div class="row">
            <div class="col-md-10">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Nombre de usuario: </td>
                        <td>{{username}}</td>
                    </tr>
                    <tr>
                        <td>Nombre(s): </td>
                        <td>{{firstname}}</td>
                    </tr>
                    <tr>
                        <td>Apellido(s): </td>
                        <td>{{lastname}}</td>
                    </tr>
                    <tr>
                        <td>Correo electrónico: </td>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <td>Id: </td>
                        <td>{{id}}</td>
                    </tr>
                    <tr>
                        <td>Estatus: </td>
                        <td>{{enabled}}</td>
                    </tr>
                    <tr>
                        <td valign="top">Roles:</td>
                        <td>
                            <table>
                                <tr *ngFor="let listarol of rolessel ">
                                    {{listarol.name}}
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>