<div class="content-container" ng-controller="usuario.component.ts">
    <ul class="breadcrumb">
        <li class="active">Usuarios </li>
    </ul>
    <form [formGroup]="usuarioForm">

        <div class="card">
            <div class="toolbar">
                <h4>Lista de Usuarios</h4>

                <div class="col-12 text-right">
                    <a class="btn btn-success btn-lg rounded-circle" href="/altauser">+</a>
                </div>
            </div>

            <br>
            <div class="content">
                <div class="row">

                    <div class="form-group">
                        <div class="col-9">
                            <input class="mr-sm-9" ng-model="filterText" formControlName="nombre" type="text" class="span marginbottom0px form-control" placeholder="Nombre">
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <button type="button" text-align="right" class="btn btn-primary pull-right" (click)="buscar()" has-permission='UPDATE_USER'>
                        &nbsp;&nbsp; Buscar
                    </button>

                        <!--                    <a href="altauser" text-align="right" class="btn btn-primary pull-right"><i class="fa fa-plus "></i>&nbsp;&nbsp; Crear </a>-->
                        <!--                    <a [routerLink]="['altauser']" class="btn btn-primary pull-right"><i class="fa fa-plus "></i>&nbsp;&nbsp;Crear </a>-->

                    </div>

                </div>
            </div>
            <hr/>
            <table class="table">
                <thead>
                    <tr class="graybg">
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido </th>
                        <th>email </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="pointer-main" *ngFor="let listausers of currentUser">
                        <td class="pointer" (click)="routeTo(listausers.username)">{{listausers.username}}</td>
                        <td class="pointer" (click)="routeTo(listausers.username)">{{listausers.firstname}}</td>
                        <td class="pointer" (click)="routeTo(listausers.username)">{{listausers.lastname}}</td>
                        <td class="pointer" (click)="routeTo(listausers.username)">{{listausers.email}}</td>
                    </tr>
                </tbody>
                <app-paginacion [page]="page" total="total" [totalPages]="totalPages" (mudouPagina)="mudouPagina($event)">
                </app-paginacion>
            </table>
            <div class="form-group">
                <div class="col-04">
                    <label class="mr-sm-04" for="inlineFormCustomSelect"> Item por página : </label>
                    <input class="custom-select mr-sm-10" ng-model="filterText" formControlName="items" type="text" ng-keyup="onFilter()" class="span marginbottom0px form-control" placeholder="Items">
                </div>
            </div>
        </div>
    </form>