<div class="content-container" ng-controller="partessal.component.ts">
    <ul class="breadcrumb">
        <li class="active">Aduanas Partes</li>
    </ul>

    <form [formGroup]="partesForm">
        <div class=" text-right">
            <div class="card">
                <div class="toolbar">
                    <h4>Lista de Aduanas Partes Salida</h4>

                    <div class="col-09 text-right" class="nav-item dropdown" style="text-align: left">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CLIENTE
                        </a >
                        <label for="uploader">{{descripcion}}</label>
       
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                <a class="dropdown-item" *ngFor="let listaCtes of dataCli; let i = index;" (click)="consultaPartes(listaCtes.idCliProv, 1, this.perPage, this.perName)"> 
                                        {{listaCtes.idCliProv}}
                            </a>
                    </div>
                </div>
            </div>
            <br>
            <hr/>
            <table class="table">
                <thead>
                    <tr class="graybg" *ngIf="detalle">
                        <th style="text-align: center">Recinto</th>
                        <th style="text-align: center">Número de Parte</th>
                        <th style="text-align: center">Número de Pedimento</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="pointer-main" *ngFor="let listpartes of currentPartes">
                        <td style="text-align: center" class="pointer" (click)="routeTo(listpartes.idCliProv,listpartes.numPart,listpartes.numPedimento)">{{listpartes.recinto}}</td>
                        <td style="text-align: center" class="pointer" (click)="routeTo(listpartes.idCliProv,listpartes.numPart,listpartes.numPedimento)">{{listpartes.numPart}}</td>
                        <td style="text-align: center" class="pointer" (click)="routeTo(listpartes.idCliProv,listpartes.numPart,listpartes.numPedimento)">{{listpartes.fraccAranc}}</td>
                    </tr>

                </tbody>
            </table>
            <app-paginacion style="text-align: left" [page]="page" total="total" [totalPages]="totalPages" (mudouPagina)="mudouPagina($event)">
            </app-paginacion>
        </div>
</div>
</form>