<div class="content-container" ng-controller="editprodymatcomponent">
    <ul class="breadcrumb">
        <li><a href="/prodymat">Prod y Mat</a></li>
        <li class="active">Editar Producto y Materiales</li>
    </ul>
    <form [formGroup]="editprodymat">
        <!--      <form name="edituserform" novalidate="" class="card form-horizontal well" rc-submit="submit()"> -->

        <fieldset>
            <div class="container-body form-horizontal">
                <api-validate></api-validate>
                <br>

                <legend>Editar Producto y Materiales </legend>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="clveProduc">Clave de Producto:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled="true" type="text" id="clveProduc" name="clveProduc" value="{{clveProduc}}" formControlName="clveProduc" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" required
                            late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipProd">Tipo de Producto</label>

                    <div class="col-sm-3">
                        <input disabled="true" type="text" id="tipProd" name="tipProd" formControlName="tipProd" class="form-control" minlength="1" maxlength="10" (change)="cambio($event)" required late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="indVis">Indicador Visible<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <div class="custom-control custom-radio">
                            <input id="S" type="radio" class="custom-control-input" value="S" name="gender" formControlName="gender">
                            <label class="custom-control-label" for="S">SI</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input id="N" type="radio" class="custom-control-input" value="N" name="gender" formControlName="gender">
                            <label class="custom-control-label" for="N">NO</label>
                        </div>
                    </div>

                    <!--
                    <div class="col-sm-3">
                        <label *ngFor="let order of orders">
                            <input formControlName="orders" type="radio" name="orders" [value]="order.id" checked/>
                            {{order.name}}&nbsp;&nbsp;
                       </label>
                    </div>
                -->
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descCorta">Descripción Corta<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descCorta" name="descCorta" value="{{descCorta}}" formControlName="descCorta" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descLarga">Descripción Larga<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descLarga" name="descLarga" value="{{descLarga}" formControlName="descLarga" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descCorIng">Descripción Corta en Inglés<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descCorIng" name="descCorIng" value="{{descCorIng}}" formControlName="descCorIng" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descLarIng">Descripción Larga en Inglés<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descLarIng" name="descLarIng" value="{{descLarIng}}" formControlName="descLarIng" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descLarIng">Unidad de Medida Comercial<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallapC" id="listaallapC" style="height: 180px" style="width: 185px" value="{{uMC}}">
                        <option 
                                *ngFor="let listaapC of apC ; let i = index;" 
                                [value]="listaapC.id1" 
                                >{{listaapC.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descLarIng">Unidad de Medida Tarífa<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallapT" id="listaallapT" style="height: 180px" style="width: 185px" value="{{uMT}}">
                        <option 
                                *ngFor="let listaapT of apT ; let i = index;" 
                                [value]="listaapT.id1" 
                                >{{listaapT.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipMat">Tipo de Material<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="tipMat" name="tipMat" value="{{tipMat}}" formControlName="tipMat" class="form-control" minlength="1" maxlength="10" required late-Validate />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoUnitMXP">Costo Unitario (MX):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="costoUnitMXP" name="costoUnitMXP" formControlName="costoUnitMXP" value="{{costoUnitMXP}}" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoUnitDLS">Costo Unitario (DLS):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="costoUnitDLS" name="costoUnitDLS" formControlName="costoUnitDLS" value="{{costoUnitDLS}}" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="convers">Conversión:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="convers" name="convers" value="{{convers}}" formControlName="convers" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" placeholder=1.00000 step=0.00001
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Fracción Arancelaria:<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallFracc" id="listaallFracc" style="height: 180px" style="width: 185px" value="01013001">
                        <option 
                                *ngFor="let listafracc of fracc" 
                                [value]="listafracc.fraccion" 
                                >{{listafracc.fraccion}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nico">NICO:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="nico" name="nico" value="{{nico}}" formControlName="nico" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="08" />
                    </div>
                </div>


                <div class="col-md-offset-4">
                    <button class="btn btn-default" (click)="cancelar(clveProduc)">Cancelar</button>
                    <button style="margin-left:1%;" class="btn btn-primary" type="button" (click)="enviar()">Enviar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>