<div class="content-container" ng-controller="editsysusercomponent">
    <ul class="breadcrumb">
        <li><a href="/prodymat">Prod y Mat</a></li>
        <li class="active">Editar Producto y Materiales</li>
    </ul>
    <form [formGroup]="editprodymat">
        <!--      <form name="edituserform" novalidate="" class="card form-horizontal well" rc-submit="submit()"> -->

        <fieldset>
            <div class="container-body form-horizontal">
                <api-validate></api-validate>
                <br>

                <legend>Editar Producto y Materiales </legend>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="clveProduc">Clave de Producto:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled="true" type="text" id="clveProduc" name="clveProduc" value="{{clveProduc}}" formControlName="clveProduc" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" required
                            late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipProd">Tipo de Producto<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="tipProd" name="tipProd" value="{{tipProd}}" formControlName="tipProd" class="form-control" minlength="1" maxlength="1" (change)="cambio($event)" required late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="indVis">Indicador Visible<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <div class="custom-control custom-radio">
                            <input id="S" type="radio" class="custom-control-input" value="S" name="gender" formControlName="gender">
                            <label class="custom-control-label" for="S">SI</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input id="N" type="radio" class="custom-control-input" value="N" name="gender" formControlName="gender">
                            <label class="custom-control-label" for="N">NO</label>
                        </div>
                    </div>

                    <!--
                    <div class="col-sm-3">
                        <label *ngFor="let order of orders">
                            <input formControlName="orders" type="radio" name="orders" [value]="order.id" checked/>
                            {{order.name}}&nbsp;&nbsp;
                       </label>
                    </div>
                -->
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descCorta">Descripción Corta<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descCorta" name="descCorta" value="{{descCorta}}" formControlName="descCorta" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descLarga">Descripción Larga<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descLarga" name="descLarga" value="{{descLarga}" formControlName="descLarga" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descCorIng">Descripción Corta en Inglés<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descCorIng" name="descCorIng" value="{{descCorIng}}" formControlName="descCorIng" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descLarIng">Descripción Larga en Inglés<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="descLarIng" name="descLarIng" value="{{descLarIng}}" formControlName="descLarIng" class="form-control" minlength="1" maxlength="40" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descLarIng">Unidad de Medida<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallapl" id="listaallapl" style="height: 180px" style="width: 185px" value="{{uM}}">
                        <option 
                                *ngFor="let listaapl of apl ; let i = index;" 
                                [value]="listaapl.id1" 
                                >{{listaapl.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tip_Mat">Tipo de Material<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="material">
                        <input type="text" id="tip_Mat" name="tip_Mat" value="{{tip_Mat}}" formControlName="tip_Mat" class="form-control" minlength="1" maxlength="10" required late-Validate />
                    </div>
                    <div class="col-sm-3" *ngIf="!material">
                        <input disabled type="text" id="tip_Mat" name="tip_Mat" value="{{tip_Mat}}" formControlName="tip_Mat" class="form-control" minlength="1" maxlength="10" required late-Validate />
                    </div>
                </div>

                <div class="col-md-offset-4">
                    <button class="btn btn-default" (click)="cancelar(clveProduc)">Cancelar</button>
                    <button style="margin-left:1%;" class="btn btn-primary" type="button" (click)="enviar()">Enviar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>