<div class="content-container" ng-controller="cteyprov.component.ts">
    <ul class="breadcrumb">
        <li class="active">Clientes - Proveedores</li>
    </ul>
    <form [formGroup]="ctesyprovForm">
        <div class="col-12 text-right">

            <!--            
            <div class="card col-sm-2">
                <h2>CLIENTES Y PROVEEDORES</h2>
            </div>
-->
            <div class="card col-sm-10">
                <div class="toolbar">
                    <h4>Clientes - Proveedores</h4>
                    <div class="col-12 text-right" *ngIf="perfil">
                        <a class="btn btn-success btn-lg rounded-circle" [routerLink]="['/altactesyprov',tipocte]">+</a>
                    </div>
                    <div class="col-12 text-right" *ngIf="!perfil">
                        <a disabled class="btn btn-success btn-lg rounded-circle">+</a>
                    </div>

                    <div class="nav-item dropdown" style="text-align: left">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TIPO
                        </a >                     
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                        <a class="dropdown-item" *ngFor="let listacte of cteyprod; let i = index;" (click)="consultaCteyprov(listacte.Tipo, 1, this.perPage, this.perName)"> 
                                {{listacte.desc}}
                            </a>
                    </div>

                </div>
            </div>
            <br>
            <hr/>
            <table class="table">
                <thead>
                    <tr class="graybg" *ngIf="detalle">
                        <th style="text-align: center">Recinto</th>
                        <th style="text-align: center">Clave Tipo</th>
                        <th style="text-align: center">Nombre</th>
                        <th style="text-align: center">R.F.C.</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="pointer-main" *ngFor="let listctes of currentCteyprov">
                        <td style="text-align: center" class="pointer" (click)="routeTo(listctes.idCliProv)">{{listctes.recinto}}</td>
                        <td style="text-align: center" class="pointer" (click)="routeTo(listctes.idCliProv)">{{listctes.idCliProv}}</td>
                        <td style="text-align: center" class="pointer" (click)="routeTo(listctes.idCliProv)">{{listctes.nomDenov}}</td>
                        <td style="text-align: center" class="pointer" (click)="routeTo(listctes.idCliProv)">{{listctes.rfc}}</td>
                    </tr>

                </tbody>
            </table>
            <app-paginacion style="text-align: left" [page]="page" total="total" [totalPages]="totalPages" (mudouPagina)="mudouPagina($event)">
            </app-paginacion>
        </div>
</div>
</form>