<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="/facturasal">Facturas Partes</a></li>
        <li class="active">Editar Registro en Facturas Partes Salida</li>
    </ul>
    <form [formGroup]="editfacturasal">
        <div class="container-body form-horizontal">
            <api-validate></api-validate>
            <fieldset>
                <legend>Editar Factura Partes Salida</legend>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="idCliProv">Número de Cliente: <span
	                    >*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="idCliProv" name="idCliProv" formControlName="idCliProv" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="empresa">Empresa:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="empresa" name="empresa" formControlName="empresa" class="form-control" value="{{empresa}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="recinto">Recinto:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="recinto" name="recinto" formControlName="recinto" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Clave de Pedimento :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallcLVPedi" id="listaallcLVPedi" style="height: 180px" style="width: 185px" value={{cLVPedi}}>
                        <option 
                                *ngFor="let listacLVPedi of datacLVPedi" 
                                [value]="listacLVPedi.id1" 
                                >{{listacLVPedi.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="numPedimentoSalida">Número de Pedimento de Salida :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="numPedimentoSalida" name="numPedimentoSalida" formControlName="numPedimentoSalida" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="7" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="numFact">Número de Factura:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="numFact" name="numFact" formControlName="numFact" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="iDImpoEexpo">ID Imp/Exp:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <label *ngFor="let order of orders">
                            <input formControlName="orders" type="radio" name="orders" [value]="order.id"
                            />
                            {{order.name}}&nbsp;&nbsp;
                       </label>
                    </div>
                </div>
                <!--            
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fechaEntrada">Fecha de Entrada:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="date" id="fechaEntrada" name="fechaEntrada" formControlName="fechaEntrada" class="form-control" min="2021-01-01" max="9999-12-31" />
                    </div>
                </div>
-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipCambio">Tipo de Cambio:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="number" id="tipCambio" name="tipCambio" formControlName="tipCambio" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">País :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallpais" id="listaallpais" style="height: 180px" style="width: 185px" value={{paisFact}}>
                        <option 
                                *ngFor="let listapais of dataPais" 
                                [value]="listapais.id1" 
                                >{{listapais.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Agente Aduanal :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallnumPate" id="listaallnumPate" style="height: 180px" style="width: 185px" value={{numPate}}>
                        <option 
                                *ngFor="let listanumPate of datanumPate" 
                                [value]="listanumPate.numPat" 
                                >{{listanumPate.nomAgAdu}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Aduana :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaalladuana" id="listaalladuana" style="height: 180px" style="width: 185px" value={{aduana}}>
                        <option 
                                *ngFor="let listaaduana of dataaduana" 
                                [value]="listaaduana.id1" 
                                >{{listaaduana.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">INCOTERM :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallincoterm" id="listaallincoterm" style="height: 180px" style="width: 185px" value={{iNCOTERM}}>
                        <option 
                                *ngFor="let listaincoterm of dataincoterm" 
                                [value]="listaincoterm.id1" 
                                >{{listaincoterm.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nUMPlacaTr">Número de Placa:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="nUMPlacaTr" name="nUMPlacaTr" formControlName="nUMPlacaTr" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nUMGuia">Número de Guía:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="nUMGuia" name="nUMGuia" formControlName="nUMGuia" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="20" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Transportista :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaalltransport" id="listaalltransport" style="height: 180px" style="width: 185px" value={{transport}}>
                        <option 
                                *ngFor="let listatransport of datatransport" 
                                [value]="listatransport" 
                                >{{listatransport}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="contCaja">Contenedor - Caja :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="contCaja" name="contCaja" formControlName="contCaja" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="12" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="selloCand1">Sello - Candado 1 :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="selloCand1" name="selloCand1" formControlName="selloCand1" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="21" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="selloCand2">Sello - Candado 2 :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="selloCand2" name="selloCand2" formControlName="selloCand2" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="21" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="selloCand3">Sello - Candado 3 :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="selloCand3" name="selloCand3" formControlName="selloCand3" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="21" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="NombChofTR">Nombre Chofer :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="NombChofTR" name="NombChofTR" formControlName="NombChofTR" class="form-control" minlength="1" maxlength="60" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="po">PO :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="po" name="po" formControlName="po" class="form-control" minlength="1" maxlength="5" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Cliente Origen :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallclieOrig" id="listaallclieOrig" style="height: 180px" style="width: 185px" value={{clieOrig}}>
                        <option 
                                *ngFor="let listaclieOrig of dataclieOrig" 
                                [value]="listaclieOrig" 
                                >{{listaclieOrig}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Cliente Destino :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallclieDest" id="listaallclieDest" style="height: 180px" style="width: 185px" value={{clieDest}}>
                        <option 
                                *ngFor="let listaclieDest of dataclieDest" 
                                [value]="listaclieDest" 
                                >{{listaclieDest}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Descripción en Español :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallprod" id="listaallprod" style="height: 180px" style="width: 185px" (change)="cambio($event)" value={{descEsp}}>
                        <option 
                                *ngFor="let listaprod of dataProd; let i = index" 
                                [value]="i" 
                                >{{listaprod.descCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cantidad">Cantidad:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="!ConDescr">
                        <input disabled type="number" id="cantidad" name="cantidad" formControlName="cantidad" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" />
                    </div>

                    <div class="col-sm-3" *ngIf="ConDescr">
                        <input type="number" id="cantidad" name="cantidad" formControlName="cantidad" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" (change)="cambExist($event)" />
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="producto">Producto:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="producto" name="producto" formControlName="producto" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descIngles">Descripción en Inglés:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="descIngles" name="descIngles" formControlName="descIngles" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoUnitMXP">Costo Unitario (MX):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input type="number" id="costoUnitMXP" name="costoUnitMXP" formControlName="costoUnitMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 (change)="TotalMXP()" />
                    </div>

                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input disabled type="number" id="costoUnitMXP" name="costoUnitMXP" formControlName="costoUnitMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costototalMXP">Costo Total (MX):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input type="number" id="costototalMXP" name="costototalMXP" formControlName="costototalMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001/>
                    </div>

                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input disabled type="number" id="costototalMXP" name="costototalMXP" formControlName="costototalMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoUnitDLS">Costo Unitario (DLS):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input disabled type="number" id="costoUnitDLS" name="costoUnitDLS" formControlName="costoUnitDLS" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input type="number" id="costoUnitDLS" name="costoUnitDLS" formControlName="costoUnitDLS" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 (change)="TotalUSD()" />
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoTotaldls">Costo Total (DLS):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input disabled type="number" id="costoTotaldls" name="costoTotaldls" formControlName="costoTotaldls" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>

                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input type="number" id="costoTotaldls" name="costoTotaldls" formControlName="costoTotaldls" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="uMC">Unidad de Medida Comercial:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="uMC" name="uMC" formControlName="uMC" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="fraccAranc">Fracción Arancelaria:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="fraccAranc" name="fraccAranc" formControlName="fraccAranc" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="netoOriginal">Neto Original:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="netoOriginal" name="netoOriginal" formControlName="netoOriginal" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" (change)="netoConvertido()" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="brutoOriginal">Bruto Original:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="brutoOriginal" name="brutoOriginal" formControlName="brutoOriginal" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" (change)="brutoConvertido()" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="netoConv">Neto Convertido:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="netoConv" name="netoConv" formControlName="netoConv" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="brutoConv">Bruto Convertido:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="brutoConv" name="brutoConv" formControlName="brutoConv" class="form-control" />
                    </div>
                </div>

                <div class="col-md-offset-3">
                    <a id="cancel" href="/facturasal" class="btn btn-default">Cancelar</a>
                    <button style="margin-left:1%;" class="btn btn-primary" type="button" (click)="guardar()">Guardar</button>
                    <button style="margin-left:1%;" class="btn btn-primary" type="button" (click)="autorizar()">Autorizar</button>
                    <button style="margin-left:1%;" class="btn btn-primary" type="button" (click)="traspaso(idCliProv,producto)">Traspaso</button>
                </div>
            </fieldset>
        </div>
    </form>
</div>