<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="/cteyprov">Ctes y Prov</a></li>
        <li class="active">Crear Clientes y Proveedores</li>
    </ul>
    <form [formGroup]="altacteyprov">
        <div class="container-body form-horizontal">
            <api-validate></api-validate>
            <fieldset>
                <legend>Crear Clientes y Proveedores</legend>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipCte">Tipo :<span
	                    class="required">*</span></label>


                    <div class="col-sm-3" *ngIf="tipCteparam">
                        <input disabled type="text" id="tipCte" name="tipCte" formControlName="tipCte" class="form-control" minlength="1" maxlength="11" />
                    </div>

                    <div class="col-sm-3" *ngIf="!tipCteparam">
                        <select formControlName="listaTipCte" id="listaTipCte" style="height: 180px" style="width: 185px">
                        <option 
                            *ngFor="let listaTcte of cteyprod" 
                            [value]="listaTcte.Tipo" 
                            >{{listaTcte.desc}}
                        </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="idCliProv">Numero de Identificación :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="idCliProv" name="idCliProv" formControlName="idCliProv" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nomDenov">Nombre :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="nomDenov" name="nomDenov" formControlName="nomDenov" class="form-control" minlength="1" maxlength="100" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nal">Nacionalidad :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <label *ngFor="let order of orders">
                            <input formControlName="orders" type="radio" name="orders" [value]="order.name"
                            />
                            {{order.name}}&nbsp;&nbsp;
                       </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nomContacto">Nombre Contacto :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="nomContacto" name="nomContacto" formControlName="nomContacto" class="form-control" minlength="1" maxlength="100" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="immexCveRec">INMEX_CVE_REC :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="immexCveRec" name="immexCveRec" formControlName="immexCveRec" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="8" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="rfc">RFC :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="rfc" name="rfc" formControlName="rfc" class="form-control" minlength="1" maxlength="13" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="idTax">ID_TAX :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="idTax" name="idTax" formControlName="idTax" class="form-control" minlength="1" maxlength="20" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="curp">CURP :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="curp" name="curp" formControlName="curp" class="form-control" minlength="1" maxlength="18" required ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">País :<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallapl" id="listaallapl" style="height: 180px" style="width: 185px">
                        <option 
                                *ngFor="let listaapl of apl" 
                                [value]="listaapl.id1" 
                                >{{listaapl.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cp">C.P. :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="cp" name="cp" formControlName="cp" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="5" (change)="obtenEdo($event)" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Estado :<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaalledo" id="listaalledo" style="height: 180px" style="width: 185px" (change)="obtenMpo($event)">
                        <option 
                                *ngFor="let listedo of cveedo" 
                                [value]="listedo.id" 
                                >{{listedo.nombre}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Municipio :<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallmun" id="listaallmun" style="height: 180px" style="width: 185px" (change)="obtenCol($event)">
                        <option 
                                *ngFor="let listmpo of cvempo" 
                                [value]="listmpo.id" 
                                >{{listmpo.nombre}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Localidad/Colonía :<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallloc" id="listaallloc" style="height: 180px" style="width: 185px">
                        <option 
                                *ngFor="let listloc of cvecol" 
                                [value]="listloc.id" 
                                >{{listloc.nombre}}
                        </option>
                    </select>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="control-label col-sm-2">Colonía :<span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallcol" id="listaallcol" style="height: 180px" style="width: 185px">
                        <option 
                                *ngFor="let listcol of cvecol" 
                                [value]="listcol.nombre" 
                                >{{listcol.nombre}}
                        </option>
                    </select>
                    </div>
                </div>
-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="calle">Calle :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="calle" name="calle" formControlName="calle" class="form-control" minlength="1" maxlength="80" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="numExt">Número Exterior :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="numExt" name="numExt" formControlName="numExt" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="numInte">Número Interior :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="numInte" name="numInte" formControlName="numInte" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Correo Electrónico :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="email" name="email" formControlName="email" class="form-control" minlength="1" maxlength="40" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tel">Teléfono :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="tel" name="tel" formControlName="tel" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="40" />
                    </div>
                </div>

                <div class="col-md-offset-3">
                    <a id="cancel" href="/cteyprov" class="btn btn-default">Cancelar</a>
                    <button style="margin-left:1%;" class="btn btn-primary" type="button" (click)="enviar()">Enviar</button>
                </div>
            </fieldset>
        </div>
    </form>
</div>