<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="/partes">Aduanas Partes</a></li>
        <li class="active">Crear Registro en Aduana Partes</li>
    </ul>
    <form [formGroup]="altaparte">
        <!-- <form name="createuserform" novalidate="" class="card form-horizontal well" ng-controller="CreateUserController"
          rc-submit="submit()"> -->
        <div class="container-body form-horizontal">
            <api-validate></api-validate>
            <fieldset>
                <legend>Crear Aduana Partes</legend>

                <div class="form-group">
                    <label class="control-label col-sm-2">Número de Cliente: <span
	                    class="required">*</span></label>


                    <div class="col-sm-3">
                        <select formControlName="listaallCte" id="listaallCte" style="height: 180px" style="width: 185px">
                        <option 
                                *ngFor="let listaCte of dataCli" 
                                [value]="listaCte.idCliProv" 
                                >{{listaCte.idCliProv}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="numPart">Número de Parte:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="numPart" name="numPart" formControlName="numPart" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="numPedimento">Número de Pedimento:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="numPedimento" name="numPedimento" formControlName="numPedimento" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="7" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="fechaEntrada">Fecha de Entrada:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="date" id="fechaEntrada" name="fechaEntrada" formControlName="fechaEntrada" class="form-control" min="2021-01-01" max="9999-12-31" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="cantidad">Cantidad:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="cantidad" name="cantidad" formControlName="cantidad" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tipCambio">Tipo de Cambio:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="tipCambio" name="tipCambio" formControlName="tipCambio" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">País :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallpais" id="listaallpais" style="height: 180px" style="width: 185px">
                        <option 
                                *ngFor="let listapais of dataPais" 
                                [value]="listapais.id1" 
                                >{{listapais.desCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Descripción en Español :<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <select formControlName="listaallprod" id="listaallprod" style="height: 180px" style="width: 185px" (change)="cambio($event)">
                        <option 
                                *ngFor="let listaprod of dataProd; let i = index" 
                                [value]="i" 
                                >{{listaprod.descCorta}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="producto">Producto:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="producto" name="producto" formControlName="producto" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="descIngles">Descripción en Inglés:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="descIngles" name="descIngles" formControlName="descIngles" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoUnitMXP">Costo Unitario (MX):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input type="number" id="costoUnitMXP" name="costoUnitMXP" formControlName="costoUnitMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 (change)="TotalMXP()" />
                    </div>

                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input disabled type="number" id="costoUnitMXP" name="costoUnitMXP" formControlName="costoUnitMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costototalMXP">Costo Total (MX):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input type="number" id="costototalMXP" name="costototalMXP" formControlName="costototalMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001/>
                    </div>

                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input disabled type="number" id="costototalMXP" name="costototalMXP" formControlName="costototalMXP" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoUnitDLS">Costo Unitario (DLS):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input disabled type="number" id="costoUnitDLS" name="costoUnitDLS" formControlName="costoUnitDLS" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input type="number" id="costoUnitDLS" name="costoUnitDLS" formControlName="costoUnitDLS" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 (change)="TotalUSD()" />
                    </div>

                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="costoTotaldls">Costo Total (DLS):<span
	                    class="required">*</span></label>

                    <div class="col-sm-3" *ngIf="MonManda">
                        <input disabled type="number" id="costoTotaldls" name="costoTotaldls" formControlName="costoTotaldls" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>

                    <div class="col-sm-3" *ngIf="!MonManda">
                        <input type="number" id="costoTotaldls" name="costoTotaldls" formControlName="costoTotaldls" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" step=0.001 />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="uMC">Unidad de Medida Comercial:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="uMC" name="uMC" formControlName="uMC" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="uMT">Unidad de Medida Tarífa:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="uMT" name="uMT" formControlName="uMT" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="fraccAranc">Fracción Arancelaria:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="fraccAranc" name="fraccAranc" formControlName="fraccAranc" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="netoOriginal">Neto Original:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="netoOriginal" name="netoOriginal" formControlName="netoOriginal" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" (change)="netoConvertido()" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="brutoOriginal">Bruto Original:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="number" id="brutoOriginal" name="brutoOriginal" formControlName="brutoOriginal" class="form-control" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" minlength="1" maxlength="10" (change)="brutoConvertido()" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="netoConv">Neto Convertido:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="netoConv" name="netoConv" formControlName="netoConv" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="brutoConv">Bruto Convertido:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input disabled type="text" id="brutoConv" name="brutoConv" formControlName="brutoConv" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="fechaVenc">Fecha de Vencimiento:<span
	                    class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="date" id="fechaVenc" name="fechaVenc" formControlName="fechaVenc" class="form-control" min="2021-01-01" max="9999-12-31" />
                    </div>
                </div>

                <div class="col-md-offset-3">
                    <a id="cancel" href="/prodymat" class="btn btn-default">Cancelar</a>
                    <button style="margin-left:1%;" class="btn btn-primary" type="button" (click)="enviar()">Enviar</button>
                </div>
            </fieldset>
        </div>
    </form>
</div>